[2021-11-15 13:13] LaksCastro opened #2 "Improve pub score by providing `pubspec.yaml` and `example/`"
### Tasks

- [x] Add missing `pubspec.yaml` properties, [refer to details](https://dart.dev/tools/pub/pubspec)
- [x] Remove `/example` folder from `.pubignore`

[2021-11-15 14:20] LaksCastro commented on #2
Current: [110/130 pub points](https://pub.dev/packages/shared_storage/score), missing only the cross-platform support which has no plans to be implemented for now.

[2021-11-15 14:20] #2 closed

[2021-11-15 15:20] lakscastro opened #3 "Add support for `FileProvider` API"
### API's

Add implementation to allow us handle [`FileProvider` Android API](https://developer.android.com/reference/androidx/core/content/FileProvider)

- [ ] [`Context#getExternalMediaDirs`](https://developer.android.com/reference/android/content/Context.html#getExternalMediaDirs())
- [ ] [`FileProvider.getUriForFile`](https://developer.android.com/reference/androidx/core/content/FileProvider#g

[2021-11-22 14:09] LaksCastro opened #4 "Add Support for SAF (Storage Access Framework)"
### SAF

The ["new" way to manage files](https://developer.android.com/guide/topics/providers/document-provider)

- Support `MethodCall` APIs
- Support `BroadcastReceiver` API's

### APIs
- Create a new document `ACTION_CREATE_DOCUMENT`
- Get permission of a folder `ACTION_OPEN_DOCUMENT_TREE`
- Listen when a folder is removed from allowed folders
- Listen when a folder is removed from original loc

[2021-11-22 14:10] LaksCastro commented on #3
Archived. Currently working on SAF (Storage Access Framework, #4) this issue no longer will be implemented in a near release.

[2021-11-25 03:09] LaksCastro commented on #4
I can't find anything about "Listen changes in a specific folder using the SAF API" so I'll keep only the current implemented API and move the `BroadcastReceiver` API's to a research issue (beucase I don't even know if it is possible with the current SAF API, I need to search more about it, probably I'll do it as native Android project using the Jetpack Compose instead as Flutter and Flutter plugi

[2021-11-25 03:09] #4 closed

[2021-11-25 03:11] lakscastro opened #5 "Deeply Search About SAF `BroadcastReceivers`"
## What is this API about?

Is about to search about the support for `BroadcastReceiver` API's which allow us to listen to storage permissions changes

## What will be possible?

- Listen when a folder is removed from allowed folders
- Listen when a folder is removed from original location

## Some Useful Links

- [`ACTION_CONFIGURATION_CHANGED`](https://developer.android.com/reference/android/con

[2021-11-25 03:20] lakscastro opened #7 "Required Tiny patches/updates for `v0.2.0`"
## Tasks

Tasks required to release the `v0.2.0` version

- [x] Add script to auto-publish the package when a new commit is pushed to the `release` branch
- [x] Finish all TODO's
- [x] Update documentation `README.md`
- [x] Update `CHANGELOG.md`

[2021-11-25 03:27] LaksCastro opened #8 "Improve SDK versions handling"
## Current behavior

Current handling to unsupported SDK version is just throwing an `result.notImplemented()` which throws an `MissingPluginImplementation`

## Expected behavior

Improve the error and the SDK handling from the package

[2021-11-25 05:21] lakscastro opened #9 "Publish GitHub Action not working properly"
## Current issue

GitHub Action can't work properly because has no authentication data.

## Expected Fix

~[Use this package on Github Action](https://github.com/marketplace/actions/publish-dart-flutter-package) to allow authentication on `pub` site and publish the plugin automatically.~

This fix above doesn't worked either. So I left a sample repository which contains an action that works to pub

[2021-12-01 00:39] ankitparmar007 opened #10 "No Read Permission on PersistedUris"
final selectedUriDir = await openDocumentTree();

**selectedUriDir**  = content://com.android.externalstorage.documents/tree/primary%3AAndroid%2Fmedia%2Fcom.whatsapp%2FWhatsApp%2FMedia%2F.Statuses

final listOfPersistedUris = await persistedUriPermissions();

**listOfPersistedUris** [UriPermission(**_isReadPermission: false_**, isWritePermission: true, persistedTime: 1638318739830, uri: content://

[2021-12-01 01:09] LaksCastro commented on #10
Thanks for the issue, what kind of error are you having?

[2021-12-01 01:18] LaksCastro commented on #10
If I understood correctly, you don't need the `read permission` because currently the package always grants `write permission`

If you have the `write permission` we don't need the `read permission`

[2021-12-01 11:46] ankitparmar007 commented on #10
how can I read all the data from a specific folder for which i got URI for that folder ?

[2021-12-02 16:21] lakscastro opened #11 "Add API to allow read data from a specific `URI`"
## Details

The most recent Android API's, handle the files as a database of URI's, so we can handle it by adding support for cursor queries, as required by #10, thanks @ankitparmar007.

## Tasks

- [x] Search and add experimental APIs to allow this usecase.
- [x] Add support for `initialUri`.
- [x] Add `copy` API to allow export files.
- [ ] ~Get data dir from a specific app (package id)~ (Not co

[2021-12-02 16:28] LaksCastro commented on #10
Unfortunately this usecase is not currently supported, but I added this as a new feature request in #11, I'm planning to implement it on this weekend. Feel free to implement it by yourself if you want! Thanks for the issue.

[2021-12-02 19:51] ankitparmar007 commented on #10
Thank you so much for your hard-work, But I don't know much about Java so I will use this package once you add support for read data.

**Additional note**
Please note that once we get the Persisted-Uri, Package should read all the files from the specific folder without user interaction.
So we can show all the data in App UI every time whenever user open up the app.

Once again Thank you so much fo

[2021-12-06 20:02] LaksCastro commented on #10
Hey @ankitparmar007! g'afternoon

Your usecase is to get large data sets? Like a folder with 1000+ files?

[2021-12-07 10:37] ankitparmar007 commented on #10
Based on this URI

content://com.android.externalstorage.documents/tree/primary%3AAndroid%2Fmedia%2Fcom.whatsapp%2FWhatsApp%2FMedia%2F.Statuses

I am trying to read WhatsApp Statuses from this path => Android/media/com.whatsapp/WhatsApp/Media/.Statuses

So there is a possibility if user have business account or large user base in WhatsApp account then, Statuses may be available up-to 500 or more i

[2021-12-07 11:17] LaksCastro commented on #10
Hey! Thanks for sharing your usecases.

Okay, I think I got your needs, this is about WhatsApp statuses and you need the `initialDir`. Is really useful to know what you need, to keep the focus on the priorities. Thanks for that.

Also, I think you'll need an way to export these files to another location, so maybe I also need to include some `copy` API in this next release.

- So I'll finish the ["

[2021-12-07 13:28] ankitparmar007 commented on #10
Ya I think You need to copy or cached all the files from URI specified folder to application cached folder for easy read I guess,
Also I have sent a friend request on Discord for effective communication.

[2021-12-09 13:24] ankitparmar007 commented on #11
@LaksCastro  When You are planning for package update ?

[2021-12-09 13:28] LaksCastro commented on #11
When I get some free time on the weekend

[2021-12-11 14:16] ankitparmar007 commented on #11
Great news that package update will be available on this weekend :)

Also Flutter 2.8.0 • channel stable is live on • [github.com/flutter/flutter.git](https://github.com/flutter/flutter.git)

Make sure package is compatible with the latest version.

Huge Thanks in advance :)

[2021-12-11 15:40] LaksCastro commented on #11
Nice!! I did start work right now, later you'll see some updates man and maybe on sunday I'll publish the new release if everything goes fine! thanks for all

[2021-12-13 12:23] LaksCastro commented on #11
## Snapshot `13 Dec. 2021`

### News
- Added support for large data sets and removed the API `DocumentFile.listFiles` due to low performance issue
- Refactor of `SAF` API splited into modules to allow safe and easy refactor and new API implementations
- Added support to these `DocumentsContract` and `DocumentFile` APIs:
[code]
- Added optional argument `grantWritePermission` to the `openDocumentTr

[2021-12-13 17:59] ankitparmar007 commented on #11
Definitely a nice progress ! hopefully on next weekend package will be updated with  `Missing APIs` and version code `0.3.0` :)

[2021-12-23 16:04] ankitparmar007 commented on #11
hey @LaksCastro
Hope You are doing well :)
Btw When are you planning for next package update ?

[2021-12-29 03:26] lakscastro commented on #10
Hardcoded WhatsApp Status Media URI to use as `initialUri` when prompting the user
[code]

Usage:
[code]

[2021-12-29 09:17] ankitparmar007 commented on #10
@lakscastro Good to see you working on package again :)
I have a quick tip for you that might help for caching data into temp directory of the user App using this open source package code `https://pub.dev/packages/path_provider`

**Syntax to get temp directory**
Directory tempDir = await getTemporaryDirectory();
String tempPath = tempDir.path;

Maybe You can store all the data given by openDocumen

[2021-12-29 13:50] lakscastro commented on #10
yeah, of course, you can store the path wherever you want. You can also use a package like `shared_preferences` to store de data. Thanksful for the tip! =]

I mean that this specific path of the WhatsApp status is not available to get it from anywhere, so we need to hardcode it to use as `initialDir`

But be aware that this is the solution that I'm trying, you can send me any solutions that you th

[2021-12-29 14:48] ankitparmar007 commented on #10
@lakscastro
I think `shared_preferences` cannot store images and videos, and we need to cache images and videos for instance, then application specific temp directory only be helpful for storing temporary data, in my opinion

Also end user won't pass any path to initialDir parameter, Only app developer can assign path to initialDir to open a specific folder, so in my opinion you don't need to hard

[2021-12-29 14:55] lakscastro commented on #10
where do you'll get the `assignedPath`?

[2021-12-29 20:13] ankitparmar007 commented on #10
@lakscastro
/// Get permissions to manage an Android directory using shared_storage package
final selectedUriDir = await openDocumentTree();

print(selectedUriDir);

currently we can get WhatsApp Statues folder path by first opening root directory using openDocumentTree(); method and later user has to travel to this path `/storage/emulated/0/Android/Media/com.whatsapp/WhatsApp/Media/.Statuses/`

l

[2021-12-29 20:16] lakscastro commented on #10
currently, `path/to/something/will/not/work` due the SAF API, they removed completely the `File` based API to work with files. Now we need to use the `DocumentFile` based API that is based on URIs

[2021-12-29 20:18] ankitparmar007 commented on #10
Ohh that's a bad news !
So you mean we can't use File App to get the user specified forlder which is inbuilt in almost every android phone ?

[2021-12-29 20:22] lakscastro commented on #10
No, I mean that we just need to use SAF (Android 5.0+)

Most `File` APIs are now available in the `DocumentFile` API

Starting from new Android APIs (API Level 30+) `File` based APIs are not available anymore

[2021-12-29 20:24] ankitparmar007 commented on #10
Bro Lets discuss on discord for effective and fast communication :)

[2021-12-29 20:24] lakscastro commented on #10
Oh, of course

[2021-12-29 21:47] lakscastro opened #12 "Add `v0.3.0` documentation `README.md`"
## Samples

Documentation should have a collection of examples to allow easy usage

## Cookbooks

Explain what is happening behind the Dart code

[2022-01-01 18:34] ankitparmar007 commented on #10
@lakscastro  hey bro
I think I have found a solution !
[https://www.youtube.com/watch?v=1evcTdwZxwM](https://www.youtube.com/watch?v=1evcTdwZxwM)
As show in this video we can read all files directly using uri for example

**image uri would be like this**
content://com.android.externalstorage.documents/tree/primary%3AAndroid%2Fmedia/document/primary%3AAndroid%2Fmedia%2Fcom.whatsapp%2FWhatsApp%2FMed

[2022-01-30 05:59] jvoltci commented on #10
@ankitparmar007 @lakscastro  Hello folks. Does this package support the reading from the Android folder using SAF yet? :)

[2022-01-31 14:33] ankitparmar007 commented on #10
@jvoltci  not fully ! This package needs more improvements

[2022-02-01 10:58] dangilbert opened #13 "No feedback when the user doesn't select a folder"
I'm trying to show the user an alert when they haven't selected a folder to let them know their file won't be downloaded, but in the case that no URI is returned from the document tree in openDocumentTree, nothing is sent back to flutter.

I don't know whether it makes sense to do something like `pendingResult.second.success(null)` (or even pass the uri regardless of whether it is null) or to retu

[2022-02-01 12:19] lakscastro commented on #13
Thanks for the issue! As you described, seems like the native never returns when the user don't pick a folder, right?

I think the solution is to return `null` when it happens since it's not a error itself but a user choice

If you want, feel free to open the PR! If I could help to answer questions, let me know

Thanks again!

[2022-02-02 20:12] jvoltci commented on #10
Hey @ankitparmar007 ! Let's evolve this package because I researched and could not find any relevant package for this problem. Let's catch up, ping me on @jvoltci tweeter if are up!

[2022-02-04 19:16] ankitparmar007 commented on #10
Hey @jvoltci Sorry to say but, I am not a twitter user ! you can connect with me on discord using this username **ankit007#2133**

[2022-02-27 13:59] Mostafakhaled999 opened #15 "List files in a chosen uri"
Thanks for the awesome package great work.

1- I have some data saved like pics, audios and pdfs, I need to list and read all the files in a chosen URI.
2- How to create a directory, I want to know mime type for the directory?

Thanks. @lakscastro

[2022-02-27 18:11] lakscastro commented on #15
Hey! Thanks for using the package :)

These features are currently available only on `master` branch (not published yet) I'll try to give a shot today but I can't promise to publish up to tomorrow

[2022-02-27 18:12] #13 closed

[2022-03-29 12:43] hpoul commented on #12
Any progress on 3.0.0? Are you still working on this plugin? thanks.

[2022-03-29 21:06] lakscastro commented on #12
no, the development of this package is currently frozen

[2022-04-02 12:32] aplicatii-romanesti opened #16 "testing example on Android12+"
gives an apparently well known error:
"[Targeting S+ (version 31 and above) requires that an explicit value for android:exported be defined when intent filters are present]]" -as seen also: https://stackoverflow.com/questions/70333565/targeting-s-version-31-and-above-requires-that-an-explicit-value-for-android)
Solution is simple, add: `android:exported="true"` in the AndroidManifest.xml

[2022-04-02 13:24] lakscastro commented on #16
Gotcha, thx for reporting

[2022-04-02 13:36] aplicatii-romanesti commented on #16
closed by PR#17

[2022-04-02 13:36] #16 closed

[2022-04-02 16:27] #7 closed

[2022-04-02 16:29] lakscastro opened #18 "Migration to the last SDK version `dart >= 2.16`"
## Tasks

- [x] Use `lint` package instead `flutter_lints`
- [x] Apply analyzer fixes
- [x] Use Dart SDK `v2.16.x`

[2022-04-04 03:02] #18 closed

[2022-04-11 15:29] dhaval-k-simformsolutions opened #20 "What if persisted document directory get deleted by the user?"
**Describe the bug**
In my App, I have selected one directory to store files and then I deleted that directory manually so next time I'll get the URL when I call `persistedUriPermissions` but when I try to add files under that directory it throws the error as directory does not exists which is correct. So What is the solution/workaround for this using which we can identify whether the persisted UR

[2022-04-11 20:26] luanbatistadev opened #21 "storage error"
storage error

[2022-04-13 06:18] dhaval-k-simformsolutions commented on #20
@lakscastro  Do you have any plan to fix the above issue and release the latest version or is there any way using which I can fix it by doing a change in the native android of this plugin?

[2022-04-13 06:19] lakscastro commented on #20
I guess it's currently fixed, cause in this next release you'll can use `canRead` or `exists` API to see if a Uri is available/valid

[2022-04-13 06:27] dhaval-k-simformsolutions commented on #20
@lakscastro Thanks for the quick reply, Can you please share some code examples using which we can check the same? And the function/method `canRead` or `Exists` are available there in the master branch of the repository?

[2022-04-13 06:33] lakscastro commented on #20
yep, they are defined here:

https://github.com/lakscastro/shared-storage/blob/master/lib/src/storage_access_framework/saf.dart#L186-L193

[code]

The usage is just a simple: `exists(uri)` where the `uri` is the one you mentioned in the description which you got by calling `persistedUriPermissions` same applies for `canRead`

[2022-04-13 09:20] dhaval-k-simformsolutions commented on #20
@lakscastro  Thanks for your answer It's worked for me. You can simply mark the check box again this in you PR so other people can simple find the solution and issue marked as done on that PR.

[2022-04-13 12:57] dhaval-k-simformsolutions opened #22 "filename is in correct when we create multiple instance of same file?[Android 9]"
**Describe the bug**
The filenames are wrong when we save the same file multiple times in Android 9 version phones.

**To Reproduce**
1. Grant document tree permission to any directory.
2. Save the file using `createFileAsString` method in the storage
3. save the Same file multiple times. like "myfile.csv"

**Expected behavior**
When we save the same file multiple times it should create the files

[2022-04-13 13:07] lakscastro commented on #22
Are you using the mimeType field when creating the file with `createFileAsString`?

[2022-04-13 13:09] dhaval-k-simformsolutions commented on #22
No, I am passing the mime type as well while `createFileAsString`. Please find the code below for the same.

[code]

[2022-04-13 13:13] lakscastro commented on #22
I see, then I need to search further through Android 9 and above. Thanks for the report

[2022-04-13 13:40] dhaval-k-simformsolutions commented on #22
Yeah sure

[2022-04-13 14:44] dhaval-k-simformsolutions commented on #22
@lakscastro  As a temporary workaround of I am able to find the existing file with the same name using the `findFile` method and I just want to simply delete the older file and want to create the new one so every time there will be only one file will be there with the unique file name.

But the problem in the above workaround is to delete the file I required file path using which but there is no w

[2022-04-13 14:58] lakscastro commented on #22
This is no longer available for recent Android APIs so this will not be implemented in this module (SAF)

But you can still use the `delete` method to delete a  given `Uri`. Usage:

[code]

[2022-04-13 17:30] dhaval-k-simformsolutions commented on #22
delete method will delete the complete URI I guess means it will delete the complete directory my requirement is I want to just delete the file not directory

[2022-04-13 20:41] lakscastro commented on #22
This is what you can do, take a look at `example/` folder, we have 2 kind of Uris: `Document` (File) and `Tree` (File) Uris, you want to delete the Document Uri, the thing I don't know how to do yet is how you can do it directly to you target `DocumentUri`

[2022-04-22 10:52] lakscastro commented on #22
@dhaval-k-simformsolutions

Do you remember what data was here?

[code]

Do you remember if you were sending the `displayName` arg with the file extension? Like `myfilename.png` or just `myfilename`?

[2022-04-22 17:34] dhaval-k-simformsolutions commented on #22
Hi @lakscastro
I was passing the filename along with the file extension.

[2022-04-23 10:43] lakscastro commented on #22
Hey @dhaval-k-simformsolutions

Sorry for bothering you again, but can you please share some specs of your device? I'm not able to reproduce this bug neither on Android 11 (Xiaomi), Android 10 (Samsung) or Android 7.1 (Pixel)

Some useful info would be:

- Device Android Version
- Device Model (LG? Samsung? Xiaomi? Pixel? etc.)
- Device File Explorer; Are you using the default one provided by your

[2022-04-23 15:10] lakscastro commented on #22
After a while I noticed this happens only to a few kind of mime types; and the `csv` is one of those. The fix is to use the complete mime type, in your case `text/comma-separated-values`

[code]

Also, we need avoid sending the extension along with the `displayName`, so is recommended to use `myfilename` instead `myfilename.png` for example

[2022-04-25 05:45] dhaval-k-simformsolutions commented on #22
@lakscastro

As I have already mentioned the device information in the issue, still mentioning the same again below.
**Note:** It's working fine in Android 10 and above versions, But I have check-in **2 phones(Vivo and Asus) with android 9** and in those phones, it generates the above files as below which is the totally incorrect file format.

[2022-04-25 05:46] dhaval-k-simformsolutions commented on #22
Okay, I will try the same without extension with filename while creating the file and will let you know the updates.

[2022-04-25 05:53] dhaval-k-simformsolutions commented on #22
I have tried to createFileAsString with the only file name(without extension), and it creates a file as shown below which on openable.
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/90894202/165028574-bfd8117f-e796-47c0-af05-d2db1435937d.png)

[2022-04-25 08:59] dhaval-k-simformsolutions commented on #20
@lakscastro  When do you have a plan to release the new version 0.3.0 on pub.dev?

[2022-04-25 09:06] lakscastro commented on #20
For now what is missing are these bugs on Android 9 and lower, and [this](https://stackoverflow.com/questions/71996022/how-do-i-open-a-child-document-of-a-granted-uri-using-action-view)

[2022-04-25 09:09] dhaval-k-simformsolutions commented on #20
Till we fix or found the solution to that issue we can release the already fixed issues as we have fixed many in this release.

And one more thing I want to know that on which branch do we have the latest changes master or 0.3.0?

[2022-04-25 09:16] lakscastro commented on #20
Yeah, we can do it as well, thx for the tip. Guess May 8 is ok, since I need to write the docs of the entire API and I can work on this only on weekends

The `v0.3.0` branch is currently with the latest changes, but I guess next release will be implemented entirely on master instead of a separated branch

[2022-04-25 09:32] dhaval-k-simformsolutions commented on #20
Sounds good to me. Also currently Google rejects the apps if we do not use the storage permission wisely so I think your release will be very helpful to all flutter users and the number of open issues counts will decrease as well...  For the same enough questions are also available on the StackOverflow and one package is also there [SAF](https://pub.dev/packages/saf) using it we can get the permis

[2022-04-25 09:34] dhaval-k-simformsolutions commented on #20
For now, I have applied the workaround this is, I am checking whether the same name file exists or not if available then I delete the same file first and then create the new one so ideally, it seems like we have over-right the existing file. Not the ideal solution User can go forward with this workaround for now.

[2022-05-14 16:31] lakscastro commented on #20
@all-contributors please add @dhaval-k-simformsolutions for bug

[2022-05-14 16:34] lakscastro commented on #20
@all-contributors please add @dhaval-k-simformsolutions for ideas

[2022-05-14 17:17] lakscastro opened #37 "GitBook duplication issue"
GitBook show duplicated folders instead subfolders:

<kbd>
  <img src="https://user-images.githubusercontent.com/51419598/168442023-7ccece3e-21b7-441d-8fcb-7cf21da5d7dd.png">
</kbd>

[2022-05-16 11:22] dhaval-k-simformsolutions commented on #20
@lakscastro  Do we have any plan to release the next version with issues that we have already fixed in nearby days?

[2022-05-16 17:45] lakscastro commented on #37
GitBook is a great tool... if wdon't need to sync with GitHub

Migrated to [`mkdocs`](https://www.mkdocs.org/)

This is a great self hosting tool written in Python, even though the generated docs doesn't support code syntax highlighting

[2022-05-16 17:45] #37 closed

[2022-05-16 17:50] lakscastro commented on #20
Yes, I'm late, but guess in a few days we have a new release

Also, take a look at [`lakscastro.github.io/shared-storage`](https://lakscastro.github.io/shared-storage) since the docs are going to be larger I splited into a website to avoid a super sized `README.md`

Some parts are missing yet but the hardest part for me is done (move docs to outside of GitHub and keep the versioning) I never did t

[2022-05-16 18:21] lakscastro opened #38 "Add syntax highlight to docs"
See [squidfunk.github.io/mkdocs-material/reference/code-blocks](https://squidfunk.github.io/mkdocs-material/reference/code-blocks/)

[2022-05-16 21:38] lakscastro commented on #38
Fixed [by](https://github.com/lakscastro/shared-storage/commit/f7aa28df6d8b400a67523953d39ada23a5cbfed6)

[2022-05-16 21:38] #38 closed

[2022-05-21 18:43] lakscastro opened #39 "Convert plugin to a federated plugin"
[How to support different implementations](https://docs.flutter.dev/development/packages-and-plugins/developing-packages#endorsed-federated-plugin)

[2022-05-23 04:56] lakscastro opened #41 "See [ktfmt](https://facebookincubator.github.io/ktfmt/)"
See [ktfmt](https://facebookincubator.github.io/ktfmt/)

_Originally posted by @lakscastro in https://github.com/lakscastro/shared-storage/pull/19#discussion_r878948276_

[2022-05-23 05:02] lakscastro opened #42 "Track `v0.3.0` Changelog"
Replaced by #46 review comments.

[2022-05-25 12:07] dhaval-k-simformsolutions commented on #22
@lakscastro Right now where I get the package from the master branch it gives me the below error while running the project.
[code]
Can you please check into it.

[2022-05-25 12:11] lakscastro commented on #22
Merged #45 which fix this.

[2022-05-28 01:44] #42 closed

[2022-05-29 12:45] lakscastro opened #48 "_Writing a good Flutter plugin_ by Mehmet Fidanboylu"
[Writing a good Flutter plugin](https://medium.com/flutter/writing-a-good-flutter-plugin-1a561b986c9c).

[2022-05-30 00:36] EternityForest opened #50 "Use of listFiles() without the ID column results in a null pointer casting crash."
**Describe the bug**
Specifically, we get an error trying to cast a null to a Kotlin String on that appears to be from line 212(https://github.com/lakscastro/shared-storage/blob/1bfeb88df69938c62d7709861cc426ec71515f3c/android/src/main/kotlin/io/lakscastro/sharedstorage/storageaccessframework/lib/DocumentCommon.kt), if one tries to iterate anything without enabling the id column.

[code]
Seems to

[2022-05-30 01:45] lakscastro commented on #50
Indeed it is. I'll update the docs to something like: 'Id is optional, since it'll be queried even when not explicity requested'.

I pushed some commits to make it optional.

Thanks, @EternityForest!

@all-contributors please add @EternityForest for bug.

[2022-05-30 01:46] lakscastro commented on #50
@all-contributors please add @EternityForest for bug

[2022-05-31 00:36] #50 closed

[2022-05-31 00:50] lakscastro commented on #50
Fixed by #52, #53 and published by #54.

If you have anything to add, you can reopen this issue.

If you found a new bug, you can open a new issue.

Thanks!

[2022-05-31 13:02] alexrintt opened #55 "When i try to getRealPathFromUri(directory_name), it shows me below error"
When i try to getRealPathFromUri(directory_name), it shows me below error

[code]

_Originally posted by @manojSimfrom in https://github.com/lakscastro/shared-storage/issues/20#issuecomment-1141875793_

[2022-05-31 15:17] #9 closed

[2022-05-31 15:19] lakscastro commented on #15
Closing due lack of activity. Feel free to re-open, or create a new issue.

[2022-05-31 15:19] #15 closed

[2022-05-31 16:03] lakscastro opened #57 "High-level features/use-cases research"
To see details, refer to #56.

The following features will be available on the next major release:

- [ ] Pick a folder.
- [ ] List files within a picked folder.
- [ ] Deleted files within a picked folder.
- [ ] Create a file within a picked folder.
- [ ] Write to a file within a picked folder.
- [ ] Read a file within a picked folder.

[2022-06-06 06:51] manojSimfrom commented on #55
@lakscastro is there any update?

[2022-06-07 19:18] EternityForest commented on #57
One thing that I think would definitely be worth having is the ability to append an existing file, and to access a file as a seekable stream without having to copy it all into RAM.

[2022-06-12 03:18] EternityForest opened #58 "Is it possible to recursively list the files in a subfolder?"
**Describe the bug**

When I call the listFiles() method of a document, I get a list of files in that document's root(The one that was obtained via openDocumentTree()).

From the documentation, it doesn't seem like there is any way to get the list of files in a subfolder.

**To Reproduce**

Get a uri with openDocumentTree, then call listFiles on any subfolder.

The returned list will be that of th

[2022-06-13 03:54] EternityForest commented on #58
I believe I have the problem traced to DocumentsContract.getTreeDocumentId,  and fixed using Foobnix's fix from https://stackoverflow.com/questions/41096332/issues-traversing-through-directory-hierarchy-with-android-storage-access-framew

[2022-06-15 22:16] EternityForest commented on #58
Closed by #59

[2022-06-15 22:16] #58 closed

[2022-06-21 21:23] jfaltis opened #61 "Write to a file"
How would you use this plugin to write to a file in a folder which access was granted through SAF?

I tried to use the File class and writeAsString from dart:io but I was not able to obtain a proper path through the Uri with toFilePath().

[code]

causes

[code]

And once while testing toFilePath() did not cause an error. Opening the file did however.

[code]

It would be great to extend the plugi

[2022-06-30 12:16] lakscastro opened #62 "Subfolder content listing not working"
**Describe the bug**

Subfolder listing not working even with #59 and #58.

**To Reproduce**

Open the example app in the master/release branch at the latest commit of the current timestamp and try to open a subfolder of a granted uri, it will show a "No permission" error, even though not necessary to request the folder permission again for each subfolder.

**Expected behavior**

List all subfolde

[2022-06-30 12:23] lakscastro commented on #55
@manojSimfrom Hi! sorry the delay.

I'm working on #62 and some stuff have changed: about the `getRealPathFromUri` API, I noticed this function is a hard workaround to continue using the old File APIs even on the new Android versions, thus it will be removed soon in the next release v0.4.0.

But don't worry, you'll be able to do what you want even so. In order to do that, can you describe more you

[2022-06-30 14:36] lakscastro commented on #57
@EternityForest Do you have any examples showing how it (seekable stream) works? Would like to see it working.

Also, any further links will be helpful, I'm not aware of this kind of API.

[2022-06-30 15:18] #3 closed

[2022-06-30 15:22] #5 closed

[2022-06-30 18:26] lakscastro opened #64 "Intent `ACTION_VIEW` not working properly"
**Describe the bug**

When trying to open a document file through `openDocumentFile` API which uses `ACTION_VIEW` under the hood, the prompt is showing up but no data is sent to the third party application, which results in a incosistent behavior: the file is shown as a corrupted file (since the data is not being sent).

**To Reproduce**

Go to the example folder at the [latest master commit](http

[2022-07-01 11:12] lakscastro commented on #64
Closed by #63 and #67

[2022-07-01 11:12] #64 closed

[2022-07-01 11:18] lakscastro commented on #12
Closed a time ago by #42.

See releases.

[2022-07-01 11:18] #12 closed

[2022-07-06 13:14] lakscastro commented on #61
Fixed on `v0.4.0`.

[code]

Any other questions let me know.

[2022-07-06 13:16] lakscastro commented on #61
@all-contributors add jfaltis for question

[2022-07-06 13:54] lakscastro opened #70 "Plugin example seems to be broken in v0.4.0"
The plugin example seems to be broken in v0.4.0

[code]

_Originally posted by @jfaltis in https://github.com/lakscastro/shared-storage/issues/61#issuecomment-1176247722_

[2022-07-06 14:01] lakscastro opened #71 "Add dart analyze GitHub actions"
To prevent errors and bugs like these #70.

[2022-07-06 16:40] lakscastro commented on #70
Fixed by #72.

[2022-07-06 16:40] #70 closed

[2022-07-06 16:48] lakscastro commented on #71
Closed by a series of PR starting by #73.

[2022-07-06 17:08] lakscastro opened #79 "Add some way to update/overwrite file contents (e.g `updateFile(...)`)"
## Feature request

Currently we can't overwrite/update the content of a given file we already have permissions over.

So the request is only to add an API which purpose is to receive a given `uri` and `content` or `bytes` as parameters and overwrite the content.

Sample usage:

[code]

This will permit edit **only the file contents and not the file mime type.**

## Useful resources

- [how-to-pro

[2022-07-06 17:09] lakscastro commented on #61
For now you can try this workaround:

- Delete the existing file using `exists(...)` method.
- Then create the file again with same data but different `bytes` or `content` using `createFile(...)` method.

This will "update" the file.

I'm working on this issue #79 to add `updateFile` method which doesn't force you to delete the file so this proposal above is just a temporary workaround.

[2022-07-06 19:33] lakscastro commented on #79
Would be helpful to use you implementation here, seems like it's exactly what we need here.

I'll open a PR to add your implementation here, or you can do by yourself if you want, just let me know.

Although I don't see reason to add `flutter_content_resolver` as dependency:

- It's easier to simply use your implementation.
- This other package is focused on content resolvers which are not our foc

[2022-07-06 19:44] jfaltis commented on #79
I agree with your points on not using the flutter_content_resolver as a dependency. I will open a pull request with the implementation in the upcoming days.

[2022-07-07 10:18] lakscastro commented on #10
Closing this issue as resolved since all mentioned use-cases are now available in `v0.4.x`.

Please, you can always re-open this one or open a new issue. Any other bug-reports, questions or feature requests are always welcome!

Thanks for taking time to contribute to this package.

[2022-07-07 10:18] #10 closed

[2022-07-07 10:21] lakscastro commented on #11
All features mentioned in this issue are available on `v0.4.x` except by the last one that doesn't make sense for this package.

[2022-07-07 10:21] #11 closed

[2022-07-07 10:24] lakscastro commented on #20
Since the original issue was solved, I'll close this fow now, any question let me know.

[2022-07-07 10:24] #20 closed

[2022-07-07 10:32] lakscastro commented on #70
@all-contributors remove jfaltis for questions and add for bugs.

[2022-07-07 10:35] lakscastro commented on #70
@all-contributors remove jfaltis for questions.

[2022-07-07 10:38] lakscastro commented on #70
@all-contributors remove jfaltis for bugs.

[2022-07-07 10:39] lakscastro commented on #70
@all-contributors add jfaltis for bug.

[2022-07-14 17:35] jfaltis commented on #61
I noticed that you are not closing the OutputStream when creating a file. Should I fix this and include it in my PR or should it be done seperately?

https://github.com/lakscastro/shared-storage/blob/14334626b426e2f4c4a52122089e3b61b3ed55fd/android/src/main/kotlin/io/lakscastro/sharedstorage/storageaccessframework/DocumentFileApi.kt#L293-L312

[2022-07-14 17:41] lakscastro commented on #61
You can do it in separated branches/PRs, please.

Would be great if we could publish the `OutputStream` fix as _patch_ update and your new feature as _minor_ update.

[2022-07-15 15:11] lakscastro opened #90 "`DocumentFile.canRead` calls incorrect API"
https://github.com/lakscastro/shared-storage/blob/25556eb445cd23048422ff2fef125d5f370cd566/lib/src/saf/document_file.dart#L92-L93

[2022-07-15 15:22] lakscastro opened #91 "`getDocumentContent` takes too long to return when file is too large"
**Describe the bug**

`getDocumentContent` function "crash" the app if the document is too long.

This happens when trying to read apk files.

**To Reproduce**

Open the example app and try to click over an apk file card.

**Expected behavior**

There's some way to asynchronously read the file contents.

**Screenshots**

Not applicable.

**Additional context**

Possible solutions:

- Maybe we can

[2022-07-15 15:32] lakscastro opened #92 "Add some way to launch an Apk Installation through when `REQUEST_INSTALL_PACKAGES` is available"
Currently the `Open with` option (`openDocumentFile(...)` doesn't do anything when the target file is an apk file.

The main goal of this issue is to add some implementation under the `openDocumentFile` native function to request install the apk, see [android-install-apk-programmatically](https://stackoverflow.com/questions/4967669/android-install-apk-programmatically).

[2022-07-15 15:33] alexrintt opened #93 "Get file mime type"
Implement an API to get the mime type of a given file as `String`.

[2022-07-17 22:04] lakscastro commented on #61
Closing as already implemented by #85.

[2022-07-17 22:04] #61 closed

[2022-07-17 22:05] lakscastro commented on #79
Closing as already implemented by #85.

[2022-07-17 22:05] #79 closed

[2022-07-17 22:06] lakscastro commented on #90
Closing since its already fixed by #99.

[2022-07-17 22:06] #90 closed

[2022-08-07 17:58] jld3103 commented on #91
Hi, I'm very interested in a stream based API to read and write documents as I'm building an app that is potentially used to upload and download very big files from/to local storage.

[2022-08-07 17:59] jld3103 commented on #57
@EternityForest Is https://github.com/alexrintt/shared-storage/issues/91 this what you need for a stream based API? I'm not aware of seekable streams in dart, so this is the best you can get I guess.

[2022-08-08 03:59] alexrintt commented on #91
Listed, would be useful to have some way to read line by line (or maybe chunks?) with some kind of metadata (current line|chunks, max lines|chunks) rather of reading entire file at once.

[2022-08-15 07:55] Bersh opened #105 "Cannot creat DocumentFile from uri returned by getMediaStoreContentDirectory"
**Describe the bug**
I try to create an instance of `DocumentFile` from URI returned by `getMediaStoreContentDirectory()` function.
Unfortinately when I call `.toDocumentFile()` on the URI I get an exception:
[code]

**To Reproduce**
Lets take `Downloads` folder for example. The same issue happens when you use other media store directories as well.
Try to create `DocumentFile` from `Downloads` dir

[2022-08-15 11:41] alexrintt commented on #105
First off, thanks for the detailed report.

Guess probably you would like to use `openDocumentTree` instead of `getMediaStoreContentDirectory`.

`getMediaStoreContentDirectory` will be removed soon and will be internally integrated.

Let me know if it solves or may I should know something more about your use-case.

[2022-08-16 06:01] #105 closed

[2022-08-26 12:28] Ranashaheryar opened #106 "ReadPermission False"
Read Permission is false even after openDocumentTree
but write permission is true

[2022-10-11 14:39] Stephen-Cronin commented on #106
I came here with the same question, because it seems that although I do have write permission and can create files in the folder I selected, I can't read files.

I'm using the sample app, with the only changes being I specified 0.5.0 in `pubspec.yaml` and I added an extra action to try to read a file in `granted_uri_card.dart`, as follows (after the revoke action in `_buildAvailableActions`):

[co

[2022-10-24 13:45] alexrintt commented on #106
[code]

SAF needs to know the tree and the document, you're passing only the tree.

Take a look at this fn:

https://github.com/alexrintt/shared-storage/blob/500363b917304a454b393179b8dd3eb5386cbf5c/example/lib/screens/file_explorer/file_explorer_page.dart#L198

It does what you want: read the file tree within a folder.

Let me know if it helps.

[2022-11-07 18:54] clragon opened #107 "Unused arguments in `DocumentFile.getContent`"
**Describe the bug**
Both `DocumentFile.getContent` and `DocumentFile.getContentAsString` demand a parameter called `Uri destination`.
It is unclear to me why this parameter is needed and it is entirely unused in the code.

**Expected behavior**
I would assume that neither of those functions would take a parameter, as their location is already available in the properties of the `DocumentFile` itse

[2022-11-07 19:14] alexrintt commented on #107
You're right, for now you can use:

[code]

And since it's a breaking change, I'll add release a fix in the next major version **v0.6.0**.

Thanks for the issue.

[2022-11-08 00:03] alexrintt commented on #107
`v0.6.0` published available at pub.dev: [pub.dev/packages/shared_storage](https://pub.dev/packages/shared_storage).

[2022-11-08 00:07] clragon commented on #107
thank you!

[2022-11-08 00:07] #107 closed